html, body {
    width:100%;
    height:100%;
    text-align: center;
}

.image {
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    width:80%;
    height:80%;
    display:inline-block;
    border: 5px solid gray;
    border-radius: 10px;
    position:relative;
}

.title {
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
}

#prev,
#next {
    position:absolute;
    top:0px;
    bottom:0px;
    width:10%;
}

#next {
    right:0px;
}

#prev {
    left:0px;
}

#prev:hover,
#next:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

#next:hover .arrow_next,
#prev:hover .arrow_prev {
    display:inline-block;
}

.arrow_next .outer {
  border-left:16px solid black;
  border-top: 16px solid transparent;
  border-right:16px solid transparent;
  border-bottom: 16px solid transparent;
  display:inline-block;

}

.arrow_prev .outer {

  border-left:16px solid transparent;
  border-top: 16px solid transparent;
  border-right:16px solid black;
  border-bottom: 16px solid transparent;
  display:inline-block;

}

.arrow_next .inner {

  border-left:10px solid white;
  border-top: 10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 10px solid transparent;
  display:inline-block;
  position:absolute;
  top:6px;
  left:0px;
}

.arrow_prev .inner {
  position:absolute;
  top:6px;
  left:12px;
  border-left:10px solid transparent;
  border-top: 10px solid transparent;
  border-right:10px solid white;
  border-bottom:10px solid transparent;
  display:inline-block;

}

.arrow_next, .arrow_prev{
  position:absolute;
  display:none;
  top:50%;
}

.thumbnail {
  display:inline-block;
  width: 128px;
  height: 128px;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  border: 2px solid darkblue;
  text-align:center;
}

.bottom_panel {
    position:fixed;
    bottom: 0px;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.5);
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width:100%;
}

.selected {
    border: 2px solid darkred !important;
}

.left_side {
    position:fixed;
    left: 10px;
    top: 100px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}