$thumbnail_width: 128px;
$thumbnail_height: 128px;
$arrow_width: 5px;
$arrow_color: green;

html, body {
    text-align: center;
}

.image {
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.frame {
    display:inline-block;
    border: 5px solid gray;
    border-radius: 10px;
    position:absolute;
}

.title {
    text-align: center;
    border: 2px solid #048;
    border-radius: 10px;
    display:inline-block;
    background-color: #404040;
    padding: 10px 5px;
    color: #cc8;
}

#prev,
#next {
    position:absolute;
    top:0px;
    bottom:0px;
    width:100px;
}

#next {
    right:0px;
}

#prev {
    left:0px;
}

#prev:hover,
#next:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

#next:hover .arrow_next,
#prev:hover .arrow_prev {
    display:inline-block;
    position:relative;
}

.arrow_next {
    right: 15px;
}

.arrow_prev {
    left: 15px;
}

@mixin arrow($len, $left, $top, $right, $bottom)
{
  border-left:$len solid $left;
  border-top: $len solid $top;
  border-right:$len solid $right;
  border-bottom: $len solid $bottom;
}

@mixin left-arrow($len, $color) {
    @include arrow($len, $color, transparent, transparent, transparent);
}

@mixin right-arrow($len, $color) {
    @include arrow($len, transparent, transparent, $color, transparent);
}

.topleft {
    @include arrow($arrow_width, $arrow_color, $arrow_color, transparent, transparent);
}

.topright {
    @include arrow($arrow_width, transparent, $arrow_color, $arrow_color, transparent);
}

.bottomleft {
    @include arrow($arrow_width, $arrow_color, transparent, transparent, $arrow_color);
}

.bottomright {
    @include arrow($arrow_width, transparent, transparent, $arrow_color, $arrow_color);
}

.triangle {
    position: absolute;
    display:inline-block;
    background-color:transparent;
}

.arrow_next .outer {
    @include left-arrow(16px, #84b);
    display:inline-block;
}

.arrow_prev .outer {
    @include right-arrow(16px, #84b);
    display:inline-block;
}

.arrow_next .inner {

  @include left-arrow(10px, white);
  display:inline-block;
  position:absolute;
  top:6px;
  left:0px;
}

.arrow_prev .inner {
  position:absolute;
  top:6px;
  left:12px;
  @include right-arrow(10px, white);
  display:inline-block;

}

.arrow_next, .arrow_prev{
  position:relative;
  display:none;
  top:50%;
}

.thumbnail {
  display:inline-block;
  width: $thumbnail_width;
  height: $thumbnail_height;
  border: 5px solid #448;
  border-radius: 4px;
  margin: 4px;
  text-align:center;
}

.button {
    border-radius: 8px;
    border: 2px solid #08b;
    background-color: #48b;
    color: #ccc;
    padding: 5px;
}

.bottom_panel {
    position:fixed;
    bottom: 0px;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.5);
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width:100%;
}

.selected {
    border: 5px solid darkred !important;
    border-radius: 4px;
    background-color: darkred;
}

.left_side {
    position:fixed;
    left: 10px;
    top: 100px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.left_side div {
    margin: 3px;
}

.file_types {
    position:fixed;
    left:0px;
    top:150px;

};