doctype html
html(lang="en", ng-app='main')
  head
    title #{Title}
    script(src='/extern/angular/angular.js')
    script(src='/extern/angular-route/angular-route.min.js')
    script(src='/extern/underscore/underscore-min.js')
    script(src='/static/main.js')
    link(rel='stylesheet', href='/static/main.css')
  body
    div(ng-view)